* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    width: 1920px;
    height: 1000px;
    background: #333;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    min-width: 800px;
}

#main-header {
    background: #fff;
    color:#333;
    height: 80px;
}

video{
    left:0;
    z-index:0;
    width: 100%;
    height: auto;
 }

#gnb a{
    color:#333;
}

#main-header > h1 {
    float: left;
    margin-top: 16px;
    margin-left: 50px;
    color: #23a5df;
}

#main-header #main_gnb{
    float:right;
    margin-right: 100px;
}

#gnb > li{
    display: inline-block;
    margin-left: 3em;
}

img{
    position: absolute;
    top:28px;
}

#main_gnb{
    margin-top:28px;
}

#gnb {
    display: inline-block;
    font-weight: bold;
}

#gnb :hover {
    
    color: #23a5df;
    border-bottom:3px solid #23a5df ;
}
.title{
    font-size:65px;
    color: #fff;
    position: absolute;
    top: 60%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow:0 0 10px #333;
    min-width: 800px;
}

.white{
    font-weight: 900;
    text-shadow:0 0 5px #fff;
}
.title > p{
    font-size: 22px;
    text-shadow:0 0px 3px #fff;
    margin-top: 10px;
    
}

.blue{
    color: #23a5df;
    font-weight: 900;
    text-shadow:3px 3px 8px #fff;
}
.title-box{
    width: 180px;
    height: 50px;
    border: 4px solid #fff;
    position: absolute;
    top: 120%;
    left:50%;
    transform: translate(-50%);
    text-align: center;
    
}
.title-box > p{
    font-size: 16px;
    margin-top: 6px;
}
.title-box:hover{
    background: transparent;
    border: 4px solid #23a5df;
}
.title-box:hover > p{
    color: #23a5df;
    font-weight: 600;
}

.page{
    list-style-type: none;
}
.page-1{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #23a5df;
    position: absolute;
    top:40%;
    right:2%;
    position: fixed;
}
.page-2{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top:50%;
    right:2%;
    position: fixed;
}
.page-3{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top:60%;
    right:2%;
    position: fixed;
}
.page-4{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top:70%;
    right:2%;
    position: fixed;
}
.page :hover{
    background: #23a5df;
    border: 2px solid #fff;
}

